/logs
out
bin/**

#Eclipse
.classpath
.project
.settings/

#IntelliJ
.idea/
*.iml
*.iws

#Misc
tmp/**
tmp/**/*
*.swp
.loadpath
.metadata
.launch
.buildpath

#Mac OS
.DS_Store
/bin
*.log
/edu.hm.dako.wise1314 EchoApplication/logs/
edu.hm.dako.wise1314 EchoApplication/Benchmarking-EchoApp-Protokolldatei